<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QSUseImageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88CFF2C61E9C841C00B620A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CFF2DF1E9C841C00B620A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CFF2EA1E9C841C00B620A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
