<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QSUseGCDDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88F0DB7C1F034C82008B3D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F0DB951F034C82008B3D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88F0DBA01F034C82008B3D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
